
/*
		Light button
*/
.button1{

	background:linear-gradient(to bottom, #3131df 5%, #80a0ff 100%);
	background-color:#3131df;
	border-radius: 5px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size: 18px;
	padding:5px;
	text-decoration:none;

}

.button1:hover{
    background:linear-gradient(to bottom, #80a0ff 5%, #002db3 100%);
	background-color:#80a0ff;
}

.button1:active {
	position:relative;
	top:1px;
}

/*
		DARK button
*/
.button2 {
	background:linear-gradient(to bottom, #7ea3de 5%, #020247 100%);
	background-color:#7ea3de;
	border-radius:11px;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding: 5px;
	text-decoration:none;
}
.button2:hover {
	background:linear-gradient(to bottom, #020247 5%, #7ea3de 100%);
	background-color:#020247;
}
.button2:active {
	position:relative;
	top:1px;
}

        

        