body{
    background-color: whitesmoke;
}

p{
    color: black;
    font-size: 18px;
    text-align: justify;
}

h1, h2, h3, h4{
    text-align: center;
}

#specialP{
    color: #020247;
    font-size: 17px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background: rgb(128,159,255);
    background: radial-gradient(circle, rgba(128,159,255,0.8) 28%, rgba(126,163,222,0.8) 64%, rgba(191,207,255,0.8) 87%);
    padding: 10px;
    border-radius: 5px;
  }
 div {
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0px;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

#titleP{
    color: #020247;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

#img{
    width: 25%;
    max-width: 250px;
    float: left; 
    margin: 0px 15px 0px 0px;
    display: block;
}


#textP{
    padding-bottom: 5%;
    padding-top: 50px;
    padding-right: 20px;
}

#invisibleDiv{
    border: 1px solid rgba(255, 255, 255, 0.0);
    padding: 0px;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
